:root {
    --font: Monaco, Verdana, Geneva, Tahoma, sans-serif;
    --font2: Arial, Verdana, Geneva, Tahoma, sans-serif;
    --dark-blue: #194b74;
    --grey: #F0EBF4;
    --hot-pink:#E64398;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
    font-family: var(--font);
    box-sizing: border-box;
    background-color: var(--grey);
    color: var(--dark-blue);
}

/* Why is my background color not extending to the edge? */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--dark-blue);
    color: var(dark-blue);
}

h1 {
    margin: 2%;
    font-size: 200%;
    font-family: var(--font);
    text-align: center;
}

h2 {
    color: var(--hot-pink);
    font-size: 16px;
    text-align: center;
}

#name-box {
    background-color: var(--grey);
    font-size: 30px;
    padding: 3px 15px 3px 10px;
    border-radius: 20px 20px 20px 20px;

}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    color: var(--grey);
    font-weight: bold;
    font-size: 12px;
}

.subheader img {
  display: flex;
  flex-wrap: wrap;
}

#header-img {
    height: 100px;
    overflow: hidden;
}

/* I cannot get the header on picture  */
#subheader-box {
    background-color: var(--grey);
    font-size: 16px;
    /* padding: 3px 15px 3px 10px; */
    border-radius: 20px 20px 20px 20px;
}

/* Still not sure how to get <p> inline with Header  */
.aside-header {
    width: 20%;
    font-size: 24px;
    text-align: right;
    border-right:2px solid var(--dark-blue);
    padding-inline: 15px;
}

#about-me {   
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-bottom: 175px;
    margin-top: 15px;
}

.main-content {
    display:inline-block;
    flex-wrap: wrap;
    font-family: var(--font2);
    width: 70%;
    margin-left: 30%;
    margin-bottom: 10%;
    margin-top: -60%;
   
}
/* .main-content:after {
    content:"";
    position:absolute;
    left:-10px;
    right:-20px;
    top:-5px;
    bottom:-5px;
    border-right:2px solid;
    border-right-width:4px;
  } */

/* This did not format properly  */
#work {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-bottom: 175px;
    margin-top: 15px;
}

#contact-me {
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-bottom: 175px;
        margin-top: 15px;
    }
}

/* Not Working */
.nav a:hover {
    color:var(--hot-pink);
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    display:inline-block
    }