:root {
    --font: Monaco, Verdana, Geneva, Tahoma, sans-serif
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
    font-family: var(--font);
    box-sizing: border-box;
}

/* Why is my background color not extending to the edge? */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #194b74;
    color: #194b74;
}

h1 {
    margin: 2%;
    font-size: 200%;
    font-family: var(--font);
}

#name-box {
    background-color:#F0EBF4;
    font-size: 30px;
    padding: 3px 15px 3px 10px;
    border-radius: 20px 20px 20px 20px;

}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    color: #F0EBF4;
    font-weight: bold;
}

/* The image is now distorted  */
.subheader img {
    display: flex;
    /* background-image: url("..assets/images/Screen Shot 2021-04-05 at 9.36.29 PM.png"); */
    width: 100%;
    height: 150px;
    background: url('..assets/images/Screen Shot 2021-04-05 at 9.36.29 PM.png');
    background-size: cover;
    /* background-position: center;
    position: relative; */
}

/* Not sure how to get aside-header and main-content in same line  
also not sure how to get them to flex with page size changes 
Currently, padding left changes depending on width of page 
- maybe display flex? maybe justify -content?*/
.aside-header {
    width: 25%;
    font-size: 24px;
    text-align: right;
    padding-right: 18px;
    border-right:2px solid #194b74;
}

.main-content {
    width: 70%;
    padding-left: 85px;
}

/* Not Working */
.nav a:hover {
    color:#F0EBF4;
    text-decoration: underline;
}