:root {
    --font: Monaco, Verdana, Geneva, Tahoma, sans-serif;
    --font2: Arial, Verdana, Geneva, Tahoma, sans-serif;
    --dark-blue: #194b74;
    --grey: #F0EBF4;
    --hot-pink:#E64398;
    --heliotrope: #e866ec;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: var(--font);
    box-sizing: border-box;
    background-color: var(--grey);
    color: var(--dark-blue);
}

main {
    /* display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row; */
}

aside{
    padding: 15px;
}

h1 {
    margin: 2%;
    font-size: 200%;
    font-family: var(--font);
    text-align: center;
}

h2 {
    color: var(--hot-pink);
    font-size: 16px;
    text-align: center;
}

h3 {
    display: block;
    font-size: 24px;
    width: 30%;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    color: var(--grey);
    font-weight: bold;
    font-size: 12px;
}


.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--dark-blue);
    color: var(dark-blue);
}

.subheader img {
  width:100%;
}

.main-content {
    display:inline-block;
    flex-wrap: wrap;
    font-family: var(--font2);
    width: 90%;
    margin-left: 15%;
    margin-top: -60%;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.left-box {
    padding: 10px;
    flex: 50%;
}

.right-box {
    padding: 10px;
    flex: 50%;
}

.big-box {
    padding: 10px;
    margin-top: 5px;
    flex: 100%;
}

.big-box img, .right-box img, .left-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.right-box img, .left-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

#big-description {
    display:absolute;
    padding: 20px;
    background: var(--dark-blue);
    color: var(--grey);
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

.box-description {
    display:absolute;
    padding: 20px;
    background: var(--dark-blue);
    color: var(--grey);
    width:35%;
    margin-left: auto;
    margin-right: auto;
}


.contact-nav ul a {
    font-family: var(--font2);
    justify-content: space-between;
    margin-left: 14%;
    display: inline-block;
    padding-bottom: 5%;
}


#header-img {
    height: 100px;
    overflow: hidden;
}

#about-me {   
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-bottom: 175px;
    margin-top: 15px;
}

#name-box {
    background-color: var(--grey);
    font-size: 30px;
    padding: 3px 15px 3px 10px;
    border-radius: 20px 20px 20px 20px;
}

#about-me-img {
    height:auto;
    width:12%;
    margin-right: 0%;
    position:absolute;

}

#contact-me {
    display: flex;
    flex-wrap: wrap;
   margin-left: 20%;
}

a:hover {
    color:var(--hot-pink) ;
    text-decoration: underline;
}

.big-box a img:hover {
    box-shadow: inset 0px 0px 8px var(--hot-pink), 0 0 15px var(--hot-pink); 
}

.left-box a img:hover {
    box-shadow: inset 0px 0px 8px var(--hot-pink), 0 0 15px var(--hot-pink); 
}

.right-box a img:hover {
    box-shadow: inset 0px 0px 8px var(--hot-pink), 0 0 15px var(--hot-pink); 
}
@media only screen and (max-width: 600px) {

    .header-nav {
        display: inline-block;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #about-me-img {
        display: none;
    }
}

@media only screen and (max-width: 600px) {

    .contact-nav ul a {
        display: inline-block;
        width: 100%;
    }
}


        
    


